<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>John</string>
		<key>lastName</key>
		<string>Clem</string>
	</dict>
	<dict>
		<key>twitter</key>
		<string>bpjonsin</string>
		<key>github</key>
		<string>bradleypj823</string>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>github</key>
		<string>pavedwalden</string>
		<key>twitter</key>
		<string>@pavedwalden</string>
		<key>pic</key>
		<string>alex_rice</string>
		<key>firstName</key>
		<string>Alex</string>
		<key>lastName</key>
		<string>Rice</string>
	</dict>
	<dict>
		<key>github</key>
		<string>Victor-Adu</string>
		<key>firstName</key>
		<string>Victor</string>
		<key>lastName</key>
		<string>Adu</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Collin</string>
		<key>lastName</key>
		<string>Atherton</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jeff</string>
		<key>lastName</key>
		<string>Gayle</string>
	</dict>
	<dict>
		<key>github</key>
		<string>thesubway</string>
		<key>twitter</key>
		<string>@danthephoenix7</string>
		<key>firstName</key>
		<string>Daniel</string>
		<key>lastName</key>
		<string>Hoang</string>
	</dict>
	<dict>
		<key>github</key>
		<string>lee-leonardo</string>
		<key>twitter</key>
		<string>@theChromatose</string>
		<key>firstName</key>
		<string>Leonardo</string>
		<key>lastName</key>
		<string>Lee</string>
	</dict>
	<dict>
		<key>twitter</key>
		<string>@kirbyshabaga</string>
		<key>github</key>
		<string>kirby</string>
		<key>firstName</key>
		<string>Kirby</string>
		<key>lastName</key>
		<string>Shabaga</string>
	</dict>
	<dict>
		<key>github</key>
		<string>michaeltirenin</string>
		<key>twitter</key>
		<string>@michaeltirenin</string>
		<key>firstName</key>
		<string>Michael</string>
		<key>lastName</key>
		<string>Tirenin</string>
	</dict>
</array>
</plist>
